<footer class="footer">
    <div class="container is-fluid px-4">
        {% if site.footer_menu %}
            <div class="columns is-multiline">
                {% for item in site.data[site.footer_menu] %}
                    <div class="column has-text-centered">
                        <div>
                            <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% include follow.html %}

        {% comment %} Eigener rechtlicher Block {% endcomment %}
        {% include footer/custom.html %}

        {%- comment -%} Built-by moved into footer/custom.html to keep a single-line footer {%- endcomment -%}
    </div>
</footer>


