<nav class="navbar is-primary {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}" x-data="{ openNav: false }" role="navigation" aria-label="Hauptnavigation">
  <div class="container is-fluid px-4">
    <div class="navbar-brand">
      <a href="{{ site.baseurl }}/" class="navbar-item is-hidden-desktop">{{ site.title }}</a>
      <button class="navbar-burger burger" aria-label="Menü öffnen" aria-expanded="false" aria-controls="navMenu" :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }" aria-hidden="true">
      <div class="navbar-start">
        <a href="{{ site.baseurl }}/" class="navbar-item is-hidden-touch">{{ site.title }}</a>
        {% if site.data.navigation %}
          {% for item in site.data.navigation %}
            <a href="{{ item.link | relative_url }}" class="navbar-item {% if item.link == page.url %}is-active{% endif %}" {% if item.link == page.url %}aria-current="page"{% endif %}>{{ item.name }}</a>
          {% endfor %}
        {% endif %}
      </div>
      <div class="navbar-end"></div>
    </div>
  </div>
</nav>


